.main-container{
    padding:10px;
}

/* Name Photo */

.name-photo{
    display:flex;
    flex-direction:column;
}

.photo-container{
    order:-1;
}
.profilepic{
    height:155px;
    width: 155px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.photo-input{
    display: none;
}

/* Mobile  Email*/

.mobile-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.country{
    width: 25px;
}

/* jobtype Dob*/

.jobtype-dob{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types{
    display: flex;
}

.job-para{
    border:1px solid #000000;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}

.location-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.blue{
    background-color:#d3deef;
}

@media (max-width:767px){
    .name-photo{
        align-items: center;
    }
    .inputs{
        margin-left: 10px;
    }
    .profilepic-para{
        display:none;
    }
    .number{
        width: 136px;
    }
    .email{
        margin-top: 15px;
    }
    .emailinput{
        width: 165px;
    }
    .jobtype{
        display: flex;
    }
    .types{
        margin-left: 15px;
    }
    .jobtype-para{
        margin-left: -45px;
    }
    .dateinput{
        padding: 8px;
        margin-left: 10px;
    }
    .location{
        margin-left: -5px;
        margin-right: 10px;
    }
    .select-item{
        padding: 10px;
        width: 165px;
    }
    .btn{
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
    }
}

@media (min-width: 768px){
    .main-container{
        padding:65px;
    }
    .name-photo,.mobile-email{
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
    }
    label,.jobtype-para{
        font-size:20px;
        font-family: Roboto;
        font-weight: bold;
    }
    
    .photo-container{
        order: 1;
        cursor: pointer;
    }
    .photolabel{
        display: flex;
        align-items: center;
    }
    .profilepic{
        margin-left: 35px;
    }
    .inputs{
        margin-left: 35px;
        padding: 10px;
    }
    .number{
        padding: 10px;
    }
    .name{
        width: 166px;
    }
    .jobtype-dob{
        flex-direction:row;
        justify-content: space-around;
        margin-top: 25px;
    }
    .jobtype{
        display: flex;
        justify-content: space-around;
    }
    .jobtype-para{
        padding: 10px;
    }
    .job-para{
        padding: 16px;
    }
    .location-container{
        display: flex;
        align-items: center;
    }
    .location{
        margin-left: -80px;
        margin-right: 20px;
    }
    .location-submit{
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .select-item{
        padding: 15px;
    }
    .btn{
        padding: 10px;
        font-size: 15px;
        border-radius: 6px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      .table-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        height: 320px;
        overflow: auto;
        width: 100%;
    }
    .table-container::-webkit-scrollbar {
        display: none;
      }
    td,th{
        padding:15px;
    }
    thead th{
        position: sticky;
        top: 0;
        z-index: 100;
        background-color:#d0c4c4;
    }
    thead{
        top:-10px;
    }
}