.table-container{
    margin-top: 40px;
    border: 2px solid;
    height: 160px;
    overflow: auto;
}
td{
    padding:10px;
}

@media (min-width:768px){
    .table-container{
        margin:40px;
        display: flex;
        justify-content: center;
    }
    .table-container{
        border: 2px solid black;
        height:280px;
        overflow:auto;
    }
    td{
        padding: 20px;
        overflow: auto;
    }
}